<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FundamentAções</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/gridList.css">
    <link rel="stylesheet" href="../css/list.css">
    <link rel="shortcut icon" href="../images/favicon.png">
</head>
<body>
    <div id="page-landing">
        <div class="grid-header grid-header-style">
            <header>
                <h1>Stocks and FIIs</h1>
            </header>
        </div>

        <div class="grid-nav grid-nav-style">
            <a href="/">Back</a>
            <nav>
                <ul>
                    <li><a href="/statics"> STATISTICS</a></li>
                    <li>STOCKS</li>
                    <li>FIIs</li>
                </ul>
            </nav>
        </div>

        <div class="grid-main grid-main-style">

            <main>
                <h1>TOP STOCKS</h1>
                <section class="top-stocks">
                    <div class="dy widthTop">
                        <h1>Best D.Y</h1>
                        <p>But a lot of JS code are ready! But it's a surprise!</p>
                        <p>So, while I'm working, enjoy the HTML and CSS (:</p>
                    </div>
                    <div class="roe widthTop">
                        <h1>Highest ROE</h1>
                        <p>But a lot of JS code are ready! But it's a surprise!</p>
                    </div>
                    <div class="roa widthTop">
                        <h1>Best ROA</h1>
                        <p>But a lot of JS code are ready! But it's a surprise!</p>
                    </div>
                </section>

                <h1>TOP FIIs</h1>
                <section class="top-fiis">
                    <div class="dy widthTop" >
                        <h1>Best D.Y</h1>

                        {{#each fiiTopDy}}
                        <div class="top-section">
                            <p>
                                <span>{{ this.TICKER }}</span>
                                <span>{{ this.PRECO }}</span>
                                <span>{{ this.DY }}</span>
                            </p>
                        </div>
                        {{/each}}

                    </div>
                    <div class="lowest-price widthTop">
                        <h1>Lowest Price</h1>

                        {{#each fiiTopPrice}}
                        <div class="top-section">
                            <p>
                                <span>{{ this.TICKER }}</span>
                                <span>{{ this.PRECO }}</span>
                                <span>{{ this.DY }}</span>
                            </p>
                        </div>
                        {{/each}}

                    </div>
                    <div class="pvp widthTop">
                        <h1>Best P/VP</h1>

                        {{#each fiiTopPvp}} 
                        <div class="top-section">
                            <p>
                                <span>{{ this.TICKER }}</span>
                                <span>{{ this.PRECO }}</span>
                                <span>{{ this.PVP }}</span>
                            </p>
                        </div>
                        {{/each}}

                        </div>
                </section>

            </main>
        </div>

        <div class="grid-footer grid-footer-style">
            <footer>Developed by&nbsp<strong>Allan Prado</strong></footer>
        </div>
    </div>
</body>
</html>