<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tops | FundamentAções</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/gridList.css" />
    <link rel="stylesheet" href="../css/list.css" />
    <link rel="shortcut icon" href="../images/favicon.png" />
  </head>

  <body>
    <div id="page-landing">
      <div class="grid-header">
        <header>
          <h1>Stocks and FIIs</h1>
        </header>
      </div>

      <div class="grid-nav">
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/statistics">STATISTICS</a></li>
            <li><a href="/stocks">STOCKS LIST</a></li>
            <li><a href="/fiis">FIIs LIST</a></li>
          </ul>
        </nav>
      </div>

      <div class="grid-main">
        <main>
          <h1>TOP STOCKS</h1>
          <section class="top-stocks">
            <div class="dy">
              <h1>Best D.Y</h1>

              <table class="top-section">
                <thead>
                  <th>Ticker</th>
                  <th>Price</th>
                  <th>DY</th>
                </thead>
                <tbody>
                  {{#each stockTopDy}}
                  <tr>
                    <td>{{ this.TICKER }}</td>
                    <td>{{ this.PRECO }}</td>
                    <td>{{ this.DY }}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div class="roe">
              <h1>Best ROE</h1>

              <table class="top-section">
                <thead>
                  <th>Ticker</th>
                  <th>Price</th>
                  <th>ROE</th>
                </thead>
                <tbody>
                  {{#each stockTopRoe}}
                  <tr>
                    <td>{{ this.TICKER }}</td>
                    <td>{{ this.PRECO }}</td>
                    <td>{{ this.ROE }}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div class="roa">
              <h1>Best ROA</h1>

              <table class="top-section">
                <thead>
                  <th>Ticker</th>
                  <th>Price</th>
                  <th>ROA</th>
                </thead>
                <tbody>
                  {{#each stockTopRoa}}
                  <tr>
                    <td>{{ this.TICKER }}</td>
                    <td>{{ this.PRECO }}</td>
                    <td>{{ this.ROA }}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </section>

          <h1>TOP FIIs</h1>
          <section class="top-fiis">
            <div class="dy">
              <h1>Best D.Y</h1>

              <table class="top-section">
                <thead>
                  <th>Ticker</th>
                  <th>Price</th>
                  <th>DY</th>
                  <th>P/VP</th>
                </thead>
                <tbody>
                  {{#each fiiTopDy}}
                  <tr>
                    <td>{{ this.TICKER }}</td>
                    <td>{{ this.PRECO }}</td>
                    <td>{{ this.DY }}</td>
                    <td>{{ this.PVP }}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div class="lowest-price">
              <h1>Lowest Price</h1>

              <table class="top-section">
                <thead>
                  <th>Ticker</th>
                  <th>Price</th>
                  <th>DY</th>
                  <th>P/VP</th>
                </thead>
                <tbody>
                  {{#each fiiTopPrice}}
                  <tr>
                    <td>{{ this.TICKER }}</td>
                    <td>{{ this.PRECO }}</td>
                    <td>{{ this.DY }}</td>
                    <td>{{ this.PVP }}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div class="pvp">
              <h1>Best P/VP</h1>

              <table class="top-section">
                <thead>
                  <th>Ticker</th>
                  <th>Price</th>
                  <th>DY</th>
                  <th>P/VP</th>
                </thead>
                <tbody>
                  {{#each fiiTopPvp}}
                  <tr>
                    <td>{{ this.TICKER }}</td>
                    <td>{{ this.PRECO }}</td>
                    <td>{{ this.DY }}</td>
                    <td>{{ this.PVP }}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </section>
        </main>
      </div>

      <div class="grid-footer">
        <footer>Developed by&nbsp<strong>Allan Prado</strong></footer>
      </div>
    </div>
  </body>
</html>