<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks | FundamentAções</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/gridList.css" />
    <link rel="stylesheet" href="../css/fiiAndStock.css" />
    
</head>
<body>
  <div id="page-landing">

      <div class="grid-header">
        <header>
          <h1>Stocks and FIIs</h1>
        </header>
      </div>

      <div class="grid-nav">
        <nav>
          <ul>
            <li><a href="/list">TOP LIST</a></li>
            <li><a href="/statistics">STATISTICS</a></li>
            <li><a href="/stocks">STOCKS LIST</a></li>
            <li><a href="/fiis">FIIs LIST</a></li>
          </ul>
        </nav>
      </div>

  <div class="grid-main">
    <div class="div-form">
      <h2>Filters</h2>
      <form id="filter-form">
        <div class="filter-fields">
          <p>Ticker</p>
          <label for="">Ticker</label>
          <input type="text" placeholder="Ticker">
        </div>

        <div class="filter-fields">
          <p>Price</p>
          <label for="">Min</label>
          <input type="text" placeholder="R$ 20,00">
          <label for="">Max</label>
          <input type="text" placeholder="R$ 30,50">
        </div>

        <div class="filter-fields">
          <p>DY</p>
          <label for="">Min</label>
          <input type="text" placeholder="9,00">
          <label for="">Max</label>
          <input type="text" placeholder="10,00">
        </div>

        <div class="filter-fields">
          <p>ROE</p>
          <label for="">Min</label>
          <input type="text" placeholder="0,90">
          <label for="">Max</label>
          <input type="text" placeholder="1,10">
        </div>

        <div class="filter-fields">
          <p>ROA</p>
          <label for="">Min</label>
          <input type="text" placeholder="0,90">
          <label for="">Max</label>
          <input type="text" placeholder="1,10">
        </div>

        <div class="filter-fields">
          <p>VPA</p>
          <label for="">Min</label>
          <input type="text" placeholder="0,90">
          <label for="">Max</label>
          <input type="text" placeholder="1,10">
        </div>
      </form>

      <div class="filter-button">
        <button>Filter</button>
      </div>
    </div>
        
    <table>
      <thead>
        <th>TICKER</th>
        <th>PREÇO</th>
        <th>DY</th>
        <th>ROE</th>
        <th>ROA</th>
        <th>VPA</th>
      </thead>
      <tbody>
        {{#each stockList}}
        <tr>
          <td>{{ this.TICKER }}</td>
          <td>{{ this.PRECO }}</td>
          <td>{{ this.DY }}</td>
          <td>{{ this.ROE }}</td>
          <td>{{ this.ROA }}</td>
          <td>{{ this.VPA }}</td>
        </tr>
        {{/each}}
      </tbody>
    </div>
  </div>
</body>
</html>